* {
    font-family: sans-serif; /*specify font*/
    margin: 0px; /*my basic format sattings*/
    padding: 0px; /*my basic format sattings*/
    box-sizing: border-box; /*my basic format settings*/
    transition-duration: 200ms; /*time after hover for transition*/
}

.backgroundImg { /*Class = background img*/
    border: 5px solid white;
    background-color: chartreuse;
    padding: 50px;
    position: fixed; /*reamin stationary on webpage*/
    top: 0; /*ignores padding of page (fullscreen)*/
    left: 0; /*ignores padding of page (fullscreen)*/
    width: 100%; /*reamins full screen width*/
    height: 100%; /*reamins full screen height*/
    z-index: -2; /*-2 specifies background layer value*/
    display: flex; /*flex section to fit screen*/
    justify-content: center; /*horizontal location on page*/
    align-items: center; /*vertial location on page*/
}

.backgroundImg img { /*image of class*/
    border: 5px solid black;
    background-color: aqua;
    padding: 20px;
    object-fit: cover;  /*re-szies in ration of screen size*/
    width: 100%; /*reamins full screen width*/
    height: 100%; /*reamins full screen height*/
}

header {
    background-color: darkorange;
    border: 5px dotted black;
    padding: 20px;
    margin: 30px 30px 10px 30px ; /*TOP RIGHT BOTTOM LEFT*/
    display: flex; /*flex section to row format*/
    justify-content:space-between; /*pace between links and social links*/
}

.logo {
    height: 100px;
    border-radius: 100%; /*rounding of logo edges*/
    border: 5px dotted black;
}

nav {
    background-color: magenta;
    border: 5px solid white;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px; /*TOP RIGHT BOTTOM LEFT*/
    gap: 8px; /*gap between text*/
}

.headerLinks {
    color: black;
    text-decoration: unset; /*no underline on link*/
    padding: 2px;
    font-size: 1em;
    cursor: pointer; /*turns pointer hovering over link*/
}

.headerLinks:hover {
    font-size: 1.2em; /*font sixe change on hover*/
    color: darkgray /*font color change on hover*/
}

.headerButton {
    color: black;
    text-decoration: unset; /*no underline on link*/
    border: none; /*remove border from button*/
    background: none; /*remove background from button*/
    padding: 2px;
    font-size: 1em; /*font sixe change on hover*/
    cursor: pointer; /*font color change on hover*/
}

.dropDown a{
    background-color: magenta;
    color: black;
    display: block; /*display drop down as block*/
    text-decoration: none; /*no underline on link*/
    font-size: 0.7em;
    padding: 8px 0 8px 0; /*TOP RIGHT BOTTOM LEFT*/
}

.dropDown .buttonContent {
    border: 5px dotted white;
    position: absolute; /*Button reamins fixed, drop down appears under*/
    display: none; /*won't display dropdown, has to hover to display as block*/
    text-align: center;
}

.dropDown:hover .buttonContent{
    display: block; /*display dropdown as block when hover*/
    width: 80px; /*width of dropdown box*/
}

.ddLinks:hover {
    font-size: 0.9em; /*font size change on hover*/
    color: darkgray; /*font color change on hover*/
}

.socialLinks {
    background-color: yellow;
    border: 5px dotted black;
    padding: 2px;
    display: flex; /*allows for next atribute*/
    align-items: center; /*vertically centers in div*/
}

section {
    border: 5px dotted white;
    margin: 100px 30px  ; /*TOP+BOTTOM SIDES*/
    padding: 10px;
    display: flex; /*allows for next atribute*/
    justify-content: space-around; /*even spacing around divs within section*/
    align-items: center;
}
.section1 {
    background-color: blueviolet;
}

.section2 {
    background-color: crimson;
}

.section3 {
    background-color: yellow;
}

.section4 {
    background-color: magenta;
}

.textContainer {
    background-color: white;
    border: 5px solid black;
    padding: 10px;
    display: grid; /*display in column*/
    gap: 2rem; /*gap between lines of text*/
}

h2, h3 {
    background-color: lightpink;
    border: 5px dotted black;
    padding: 5px;
}

.textContainer p {
    background-color: lightgray;
    border: 5px dotted black;
    padding: 5px;
}

.imgContainer {
    background-color: aqua;
    border: 5px dotted black;
    min-width: 350px; /*wdith pizel of image container*/
    min-height: 350px; /*height pizel of image container*/
    margin: 10px;
} /*height and width for square image not necessary to have both specified */

.imgContainer img {
    width: 100%; /*image to take up 100% of container*/
    height: 100%;/*image to take up 100% of container*/
}/*height and width for square image not necessary to have both specified */

.imgSlideContainer {
    background-color: aqua;
    border: 5px dotted black;
    min-width: 350px; /*wdith pizel of image container*/
    min-height: 350px; /*height pizel of image container*/
    max-width: 350px; /*wdith pizel of image container*/
    max-height: 350px; /*height pizel of image container*/
    overflow: auto; /*format for slides, excess image overflow */
    margin: 10px;
}

.slideContainer {
    display: flex; /*allows formating for following atribute*/
    animation: slide 20s infinite; /*format for slde, (S) for duration of all pics in slide*/
} /*infinite specifies continuous slide*/

.slideContainer img {
    min-width: 100%; /*specifies image to take up 100% of width container*/
    min-height: 100%; /*specifies image to take up 100% of height container*/
}




@keyframes slide{ /*specifies properties of slide show (5 images = 100% / 5)*/
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    21%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    }
    41%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-200%);
    }
    61%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
    81%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(-400%);
    }
}



@media (max-width: 700px){ /*specifies when screen size up to 700px the following atributes apply*/
    nav {
        flex-wrap: wrap; /*wraps text to lower row*/
        gap: 4px; /*pixel gap between text*/
        padding: 0 10px 0 10px; /*TOP RIGHT BOTTOM LEFT*/
        margin: 5px;
        justify-content: center; /*centers text in div*/
    }

    .socialLinks {
        flex-direction: column; /*specifies column format*/
    }
    
    section {
        flex-direction: column; /*specifies column format*/
    }

    .imgContainer {
        width: 300px; /*specifies dimensions of image container*/
        height: 300px; /*specifies dimensions of image container*/
    }

    .imgSlideContainer {
        width: 300px; /*specifies dimensions of slide images*/
        height: 300px; /*specifies dimensions of slide images*/
    }

    .textContainer {
        gap: 0.5rem; /*reduced gap for smaller screen*/
    }
}

/**/

@media (min-width: 1000px){ /*specifies when screen size above 1000px the following atributes apply*/
    header {
        justify-content:space-around; /*even spaing around divs in header*/
    }

    nav {
        gap: 60px; /*pizel gap between van link text*/
    }

    section {
        margin: 100px 60px  ; /*TOP+BOTTOM SIDES*/
    }

    .imgContainer {
        min-width: 400px; /*specifies dimensions of image container*/
        min-height: 400px; /*specifies dimensions of image container*/
    }   

    .imgSlideContainer {
        min-width: 400px; /*specifies dimensions of slide container*/
        min-height: 400px; /*specifies dimensions of slide container*/
    }

    .imgSlideContainer img {
        width: 400px; /*specifies dimensions of slide images*/
        height: 400px; /*specifies dimensions of slide images*/
    }
}